<h1 class="contact-header">Contact</h1>

<%= form_tag('/message', :method => "post", :class => "message") do %>
		<%= text_area_tag 'message', nil, class: "form-control", size: "25x10", placeholder: "Report any bugs here." %>
		<%= submit_tag 'Submit', class: "btn small-btn-style homepage-button small-btn-search" %>
<% end %>

<%= button_to 'Back', root_path, method: :get, class: "btn small-btn-style cancel back-button cancel-message" %>