<h1>Japan Print Price Checker</h1>

<p>Hi <%= @admin.name %>,</p>

<p><%= @user.name %> has signed up for to use the price checker.</p>

<p>Please visit the <%= link_to "pending activations", pending_activations_url %> page to confirm or deny <%= @user.name %>.</p>

Thanks,

Price Checker App
