<p id="notice"><%= notice %></p>

<p>
  <strong>Box count:</strong>
  <%= @box_count.box_count %>
</p>

<%= link_to 'Edit', edit_box_count_path(@box_count) %> |
<%= link_to 'Back', box_counts_path %>
