@import "bootstrap-sprockets";
@import "bootstrap";


/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
	-moz-box-sizing: 		border-box;
	-webkit-box-sizing: border-box;
	box-sizing: 				border-box;
}


/* universal */

html, body {
  height: 100%;
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* The html and body elements cannot have any padding or margin. */
  /*background-image: url("background.svg");*/
}

.error, .alert-error {
	color: #ff3300;
}

.alert {
	font-size: 1.3em;
}

.alert-notice {
	color: #3277b3;
}

.alert-success {
	background-color: transparent;
	border-color: none;
	border: none; 
	color: #3277b3; /*blue*/
	/*color: #00cc00;*/ /*green*/
}

.business-card-errors ul {
	list-style: none;
	padding: 0;
	margin-top: 30px;
}

.business-card-errors {
	margin-top: -30px;
}


.capitalize {
	text-transform: capitalize;
}

.main-container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


/* typography */

h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

.top-navbar {
	margin-bottom: 50px;
	border-radius: 0;
	border-bottom: 6px solid #e6e6e6;
	min-height: 90px;
}

#logo-img img {
	float: left;
	width: 50px;
  margin-right: 10px;
  padding-top: 14px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0;
  padding-top: 24px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.navbar-right {
	margin-top: 15px;
}


/* page body */

.main-header {
	margin-bottom: 50px;
	font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.6em;
}

.similar-header {
	margin-top: 120px;
}

.similar-product-table {
	border-top: 6px solid #e6e6e6;
	margin-bottom: 60px;
}

.edit-price-table {
	border-top: 6px solid #e6e6e6;
	margin-bottom: 50px;
}

.similar-price {
	font-weight: bold;
}

.page-content {
	margin-bottom: 100px;
}

.search h3, .search h4 {
	font-weight: bold;
}

.search-form-group, .new-form-group {
	width: 100%;
	height: 40px;
	margin-bottom: 19px;
	label {
		margin-top: 7px;
		font-size: 1.3em;
	}
	select, option {
		/*color: #337ab7;*/ /*light blue*/
		color: #3277b3; /*darker blue*/
		/*color: #0059b3;*/ /*dark blue*/
		/*color: #1abb9c;*/ /*green*/
		border: none;
		box-shadow: none;
		font-weight: bold;
		cursor: pointer;
		letter-spacing: .5px;
		font-size: 1.3em;
		/*text-decoration: underline;*/
		background: transparent;
	}
	select {
		-webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    margin-right: -12px;
    width: 65%;
	}
	.form-control:focus {
		border: none;
		box-shadow: none;
	}
	.new-bc-text-field:focus {
		border: 1px solid #ccc;
	}
}

.paper-type {
	margin-bottom: 50px;
}

label {
	letter-spacing: .5px;
	font-size: 1.1em;
}

.search-form-control, .new-form-control {
	float: right;
	width: auto;
}

.new-bc-text-field {
	width: 100px;
	text-align: right;
}

.edit {
	color: #cccccc;
	margin-left: 5px;
	font-size: .9em;
}

.btn-style:focus {
	outline: 0;
	background-color: #3277b3;
	color: white;
	font-weight: bold;
	outline: 0 !important;
	border-radius: 0;
}

.btn-style {
	/*background: #1abb9c;*/ /*green*/
	/*background: #3884c7;*/ /*blue*/
	background: #3277b3; /*darker blue*/
	/*background: #0059b3;*/ /*dark blue*/
	border: none;
	height: 50px !important;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 0;
	margin-top: 35px;
}

.btn-style:hover {
	background: #2d6a9f;
	color: white;
	font-weight: bold;
}

.btn-style:active {
	background-color: #2d6a9f;
	border-color: none;
	color: white;
	font-weight: bold;
	border: none;
	outline: 0 !important;
}

.btn-style:visited {
	background: #3277b3;
	border-color: none;
	border: none;
	color: white;
	font-weight: bold;
}



.small-btn-style:focus {
	outline: 0;
	background-color: #3277b3;
	color: white;
	font-weight: bold;
	outline: 0 !important;
	border-radius: 0;
}

.small-btn-style {
	/*background: #1abb9c;*/ /*green*/
	/*background: #3884c7;*/ /*blue*/
	background: #3277b3; /*darker blue*/
	/*background: #0059b3;*/ /*dark blue*/
	width: 49%;
	float: right;
	border: none;
	height: 50px !important;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 0;
	margin-top: 35px;
}

.small-btn-style:hover {
	background: #2d6a9f;
	color: white;
	font-weight: bold;
}

.small-btn-style:active {
	background-color: #2d6a9f;
	border-color: none;
	color: white;
	font-weight: bold;
	border: none;
	outline: 0 !important;
}

.small-btn-style:visited {
	background: #3277b3;
	border-color: none;
	border: none;
	color: white;
	font-weight: bold;
}

.homepage-button {
	margin-top: 0;
	margin-bottom: 50px;
}

.label-for-price, .label-for-cost {
	padding-left: 8px;
}

.cancel:focus {
	background: #224f77;
}

.cancel {
	float: left;
	background: #224f77;
}

.cancel:hover {
	background: #1c4263;
}




#selling-price {
	margin-top: 50px;
	margin-bottom: 50px;
}

#selling-price i {
	font-size: .6em;
}

#production-cost i {
	font-size: .8em;	
}

#production-cost, #overhead, #margin {
	margin-bottom: 25px;	
}

#margin {
	padding-bottom: 25px;
}

#quote-text {
	width: 100%;
	border-top: 6px solid #e6e6e6;
	margin-bottom: 15px;
	padding: 45px 0 20px 0px;
	font-family: Helvetica, Arial, sans-serif;
}

#quote-text p {
	font-size: 14px;
  line-height: 16px;
}

.details {
	/*visibility: hidden;*/
}

.details-button {
	width: 100%;
}

.details-button i {
	margin-left: 10px;
	color: #ccc;
}

.details-line {
	width: 95%;
	display: inline;
	float: left;
	border-bottom: 1px solid #ccc;
	margin-top: 10px;
}

.under-line {
	width: 100%;
	display: inline;
	float: left;
	border-bottom: 1px solid #ccc;
	margin-top: 10px;
}

.price, .cost, .overhead, .margin {
	float: right;
}



/* other resource pages */


.index-tables {
	border-top: 6px solid #e6e6e6;
}

tr:first-child td {
	height: 50px;
	padding-top: 19px !important;
}

.new-resource-form {
	border-top: 6px solid #e6e6e6;
  padding-top: 50px;
}

.space {
   margin: 0 5px;
}

/* footer */

.navbar {
	border-right: none;
	border-left: none;
	border-top: none;
	small {
    float: left;
  }
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.bottom-navbar {
	margin-bottom: 0;
	padding-top: 9px;
}



/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

#help-page {
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 50px;
}

.help-questions {
	font-size: 20px;
	font-weight: bold;
}

.help-images {
	width: 100%;
}

.contact-header {
	font-weight: bold;
	text-transform: uppercase;
}

.about-header {
	font-weight: bold;
	text-transform: uppercase;
}

.settings-header {
	font-weight: bold;
	text-transform: uppercase;
}

.pending-header {
	font-weight: bold;
	text-transform: uppercase;
}

.users-header {
	font-weight: bold;
	text-transform: uppercase;
}


/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
    text-align: center;
    text-decoration: none;
    list-style: none;
    padding-left: 0px;
    line-height: 3em;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


.field_with_errors {
	display: inline;
}




/* Users Index */

.users {
	list-style: none;
	margin: 0;
		li {
			overflow: auto;
			padding: 10px 0;
			border-bottom: 1px solid $gray-lighter;
		}
}

.user_name {
	text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5em;
}

.stats-circle {
	/*border: 1px solid black;*/
	height: auto;
}

.stats-circle-middle {
}

.circles {
	/*border: 1px solid black;*/
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: auto;
	/*background: #333333;*/
  /*color: white;*/
}

.stats-titles {
	margin-top: 24px;
	margin-bottom: 0px;
}

.stats-data {
	margin-top: 0px;
}

.pagination > li > a {
	border: none;
}

.cancel-message {
	margin-top: 0px;
}

.jumbotron {
	background: transparent;
}

.headliner-div {
	margin-bottom: -75px;
}

.headliner {
	font-weight: bold;
	letter-spacing: -1px;
	text-transform: uppercase;
}

.administrator {
	font-weight: bold;
}

.login-btn {
	margin-bottom: 7px;
}

.forgot-password {
	float: right;
}

.login-signup {
	text-transform: uppercase;
	font-weight: bold;
}


/* Media Queries */

@media (max-width: 1200px) {
	.details-line {
	    width: 94%;
	}
}


@media (max-width: 992px) {
	.details-line {
	    width: 93%;
	}
}

@media (max-width: 768px) {
	.details-line {
	    width: 96%;
	}
	.navbar-toggle {
	    margin-top: 24px;
	}
	#navbar {
			border-top: none;
			box-shadow: none;
			ul {
				float: none;
			}
			li {
				width: 100%;
			}
			.dropdown-menu li {
				margin-top: 10px;
    		margin-bottom: 10px;
			}
	}
	.navbar ul {
		padding: 0;
	}
}

@media (max-width: 640px) {
	.details-line {
	    width: 92%;
	}
}


@media (max-width: 528px) {
	.details-line {
	    width: 94%;
	}
}

@media (max-width: 528px) {
	.details-line {
	    width: 93%;
	}
}








