<!-- <footer class="footer"> -->
	<nav class="navbar container bottom-navbar">
		<small>
			Contact the <%= link_to "administrator", contact_path, target: '_blank', class: "administrator" %> to report any issues.
		</small>
		<ul>
			<li><%= link_to "About",   about_path %></li>
			<li><%= link_to "Contact", contact_path, target: '_blank' %></li>
		</ul>
	</nav>
<!-- </footer> -->


